*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #67857c;
    position: relative;
}

header{
    background-color: white;
    padding: 20px;
}

header > h1{
    color: black;
    text-align: center;
}

.scoreboard{
    border: 3px solid black;
    width: 350px;
    margin: 20px auto;
    font-size: 20px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.user, .computer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.label{
    font-size: 15px;
    font-weight: bold;
    background-color: #f7faf9;
}

.badge{
    border: 3px solid black;
    border-radius: 50%;
    background-color: #286955
    
}

.badge > img {
    width: 50px;
    height: 60px;
}


.result{
    margin: 20px 0;
    padding: 20px 0;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.choices{
    margin: 50px 0;
    text-align: center;

}
.choice{
    display: inline-block;
    transition: all 0.3s ease;
    border: 4px solid black;
    border-radius: 50%;
    margin: 0 20px;
}

img{
    margin: 30px;
    width: 50px;
    height: 50px;
}

.choice:hover{
    cursor: pointer;
    background-color: #286955;
}

#action-message{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
    margin-top:auto; 
}
  
.fa-github {
    color: black;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

.btn {
    border-radius: 10px;
    background-color:#458a75;
}

.btn-restart {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.btn:hover{
    background-color: #109c72;
    cursor: pointer;
}

.popup{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: #286955;
    text-align: center;
    font-size: 30px;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}
.popup-title{
    font-size: 30px;
    font-weight: bold;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}
  
.overlay.active {
    display: block;
}

@media (max-width: 550px) {
    .title {
      font-size: 18px;
    }
  
    .scoreboard {
      width: 280px;
    }
    
    .badge > img{
        width: 40px;
        height: 50px;
        margin: 15px;
    }
    
    .result{
        font-size: 18px;
    }

    .choice{
        margin: 0 10px;
    }
    .choice > img{
        width: 40px;
        height: 50px;
        margin: 15px;
        
    }
  }
  